<div id="article-banner">
  <h2><%- page.title %></h2>
  <p class="post-date"><%- date(page.date, "YYYY-MM-DD") %></p>
  <div class="arrow-down">
    <a href="javascript:;"></a>
  </div>
</div>
<main class="app-body flex-box">
  <!-- Article START -->
  <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
    <!-- Tags START -->
    <% if (page.tags && page.tags.length) { %>
      <div class="tags">
        <span>Tags:</span>
        <%- partial('_partial/tag', { tags: page.tags }) %>
      </div>
    <% } %>
    <!-- Tags END -->
    <!-- NAV START -->
    <%- partial('_partial/nav') %>
    <!-- NAV END -->
    <!-- 打赏 START -->
    <% if (theme.donate) { %>
      <div class="money-like">
        <div class="reward-btn">
          赏
          <span class="money-code">
            <span class="alipay-code">
              <div class="code-image"></div>
              <b>使用支付宝打赏</b>
            </span>
            <span class="wechat-code">
              <div class="code-image"></div>
              <b>使用微信打赏</b>
            </span>
          </span>
        </div>
        <p class="notice">若你觉得我的文章对你有帮助，欢迎点击上方按钮对我打赏</p>
      </div>
    <% } %>
    <!-- 打赏 END -->
    <!-- 二维码 START -->
    <% if (theme.qrcode) { %>
      <div class="qrcode">
        <canvas id="share-qrcode"></canvas>
        <p class="notice">扫描二维码，分享此文章</p>
      </div>
    <% } %>
    <!-- 二维码 END -->
    <% if (theme.comment === 'gitment') { %>
      <!-- Gitment START -->
      <div id="comments"></div>
      <!-- Gitment END -->
    <% } else if (theme.comment === 'uyan') { %>
      <!-- UY START -->
      <div id="uyan_frame"></div>
      <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
      <!-- UY END -->
    <% } else if (theme.comment === 'disqus') { %>
      <!-- Disqus START -->
      <div id="disqus_thread"></div>
      <!-- Disqus END -->
    <% } else { %>
      <!-- No Comment -->
    <% } %>
  </article>
  <!-- Article END -->
  <!-- Catalog START -->
  <% if (theme.catalog) { %>
    <%- partial('_partial/catalog') %>
  <% } %>
  <!-- Catalog END -->
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    var banner = '<%= page.banner %>'
    if (banner !== '' && banner !== 'undefined' && banner !== 'null') {
      $('#article-banner').css({
        'background-image': 'url(' + banner + ')'
      })
    } else {
      $('#article-banner').geopattern(url)
    }
    $('.header').removeClass('fixed-header')

    // error image
    $(".markdown-content img").on('error', function() {
      $(this).attr('src', 'http://file.muyutech.com/error-img.png')
      $(this).css({
        'cursor': 'default'
      })
    })

    // zoom image
    $(".markdown-content img").on('click', function() {
      var src = $(this).attr('src')
      if (src !== 'http://file.muyutech.com/error-img.png') {
        var imageW = $(this).width()
        var imageH = $(this).height()

        var zoom = ($(window).width() * 0.95 / imageW).toFixed(2)
        zoom = zoom < 1 ? 1 : zoom
        zoom = zoom > 2 ? 2 : zoom
        var transY = (($(window).height() - imageH) / 2).toFixed(2)

        $('body').append('<div class="image-view-wrap"><div class="image-view-inner"><img src="'+ src +'" /></div></div>')
        $('.image-view-wrap').addClass('wrap-active')
        $('.image-view-wrap img').css({
          'width': `${imageW}`,
          'transform': `translate3d(0, ${transY}px, 0) scale3d(${zoom}, ${zoom}, 1)`
        })
        $('html').css('overflow', 'hidden')

        $('.image-view-wrap').on('click', function() {
          $(this).remove()
          $('html').attr('style', '')
        })
      }
    })
  })();
</script>

<% if (theme.qrcode) { %>
  <script>
    var qr = new QRious({
      element: document.getElementById('share-qrcode'),
      value: document.location.href
    });
  </script>
<% } %>

<% if (theme.comment === 'gitment') { %>
  <script>
    var gitmentConfig = "<%= theme['gitment_owner'] %>";
    if (gitmentConfig !== 'undefined') {
      var gitment = new Gitment({
        id: "<%- page.title %>",
        owner: "<%= theme['gitment_owner'] %>",
        repo: "<%= theme['gitment_repo'] %>",
        oauth: {
          client_id: "<%= theme['gitment_oauth_id'] %>",
          client_secret: "<%= theme['gitment_oauth_secret'] %>"
        },
        theme: {
          render(state, instance) {
            const container = document.createElement('div')
            container.lang = "en-US"
            container.className = 'gitment-container gitment-root-container'
            container.appendChild(instance.renderHeader(state, instance))
            container.appendChild(instance.renderEditor(state, instance))
            container.appendChild(instance.renderComments(state, instance))
            container.appendChild(instance.renderFooter(state, instance))
            return container;
          }
        }
      })
      gitment.render(document.getElementById('comments'))
    }
  </script>
<% } %>

<% if (theme.comment === 'disqus') { %>
  <script>
    var disqus_shortname = '<%= theme.disqus_shortname %>';
    <% if (page.permalink){ %>
    var disqus_url = '<%= page.permalink %>';
    <% } %>
    (function(){
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//go.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<% } %>
