<div id="article-banner">
  <h2><%- page.title %></h2>
  <p class="post-date"><%- date(page.date, "YYYY-MM-DD") %></p>
</div>
<main class="app-body">
  <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
    <% if (page.tags && page.tags.length) { %>
      <div class="tags">
        <span>Tags:</span>
        <%- partial('_partial/tag', { tags: page.tags }) %>
      </div>
    <% } %>
    <div class="money-like">
      <div class="reward-btn">
        赏
        <span class="money-code">
          <span class="alipay-code">
            <div class="code-image"></div>
            <b>使用支付宝打赏</b>
          </span>
          <span class="wechat-code">
            <div class="code-image"></div>
            <b>使用微信打赏</b>
          </span>
        </span>
      </div>
      <p class="notice">若你觉得我的文章对你有帮助，欢迎点击上方按钮对我打赏</p>
    </div>
    <div class="qrcode">
      <canvas id="share-qrcode"></canvas>
      <p class="notice">扫描二维码，分享此文章</p>
    </div>
    <div id="comments"></div>
  </article>
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    var qr = new QRious({
      element: document.getElementById('share-qrcode'),
      value: url
    });

    var gitment = new Gitment({
      owner: "<%= theme['gitment_owner'] %>",
      repo: "<%= theme['gitment_repo'] %>",
      oauth: {
        client_id: "<%= theme['gitment_oauth_id'] %>",
        client_secret: "<%= theme['gitment_oauth_secret'] %>"
      },
      theme: {
        render(state, instance) {
          const container = document.createElement('div')
          container.lang = "en-US"
          container.className = 'gitment-container gitment-root-container'
          container.appendChild(instance.renderHeader(state, instance))
          container.appendChild(instance.renderEditor(state, instance))
          container.appendChild(instance.renderComments(state, instance))
          container.appendChild(instance.renderFooter(state, instance))
          return container;
        }
      }
    })
    gitment.render(document.getElementById('comments'))
  })();
</script>
