<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="<%= config.description || theme.description %>">
  <meta name="keyword" content="<%= config.keyword || theme.keyword %>">
  <title>
    <% if (page.title){ %>
      <%= page.title %> | <%= config.title %>
    <% } else { %>
      <%= config.title %>
    <% } %>
  </title>
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/<%= theme.highlight %>.min.css" rel="stylesheet">
  <%- css(['css/style', 'css/plugins/gitment.css']) %>
  <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/geopattern/1.2.3/js/geopattern.min.js"></script>
  <script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
  <%- js(['js/qrious', 'js/gitment']) %>
</head>